.newTaskTitle{
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 0.1em ;
    font-weight: 400;
    margin: 1rem auto 0.5rem auto;
    font-family: $titleFont;
    text-align: center;
    border: 1px solid #000;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0px 0px 3px 6px #666;
    }
}
.newTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & input {
        width: 50%;
        height: 2rem;
        margin: 1rem 0;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 1rem;
        font-size: 1rem;
        font-family: $titleFont;
        text-align: center;
        font-family: $taskFont;
    }
    & select {
        width: 50%;
        height: 2rem;
        margin: 1rem 0;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 1rem;
        font-size: 1rem;
        font-family: $titleFont;
        text-align: center;
    }
    & button {
        width: 30%;
        height: 2rem;
        margin: 1rem 0;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 1rem;
        font-size: 1rem;
        font-family: $titleFont;
        text-align: center;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: #000;
            cursor: pointer;
        }
        &:active {
            box-shadow: inset 0px 0px 3px 6px #666;
        }
    }
}