@font-face {
    font-family: 'BebasNeue-Regular' ;
    src: url(../assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito-Regular' ;
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf) format('truetype');
}
$titleFont: 'BebasNeue-Regular', sans-serif;
$taskFont: 'Nunito-Regular', sans-serif;

$black: #212121;
$white: #FFFAFA;
$lightGrey: #D3D3D3;
$blue: #002e85;
$lightBlue: #b2dfdb;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}